alembic==1.0.10
Flask==1.0.2
Flask-WTF==0.14.3
flask-blueprint==1.2.7
Jinja2==2.10.3
MarkupSafe==1.1.1
pytest>=5.4.1
python-dateutil==2.8.0
python-google-speak==0.1
requests==2.22.0
urllib3==1.25.8
WTForms==2.2.1
